<nav>
    <mat-toolbar color="primary" class="footer-spacer">
        <mat-list>
            <h3>Food Ordering App</h3>
            <mat-list-item>Contact Us</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Email: admin@gmail.com</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a href="tel:1234567890">Phone: 123-456-7890</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Address: Penang Delights Cafe, 123, Lebuh Culinary, Georgetown, 10400 Penang, Malaysia.</mat-list-item>
        </mat-list>
    </mat-toolbar>
</nav>

