<div>
    <section class="slider">
        <ul>
          <li>
            <figure> 
              <img src="assets/images/banner.jpg" alt="Banner Image">
            </figure>
          </li>
        </ul>		
      </section>
      <!--About us section-->
      <section class="our-services-section clearfix">
        <div class="container">
          <header>
                <h2>Latest Country Guides</h2>
                <p>The World Travel Guide (WTG) is the flagship digital consumer brand within the Columbus Travel Media portfolio. A comprehensive guide to the world’s best travel destinations, its print heritage stretches back 30 years, with the online portal reaching its 15-year anniversary in 2014. Available in English, German and Spanish versions, the WTG provides detailed and accurate travel content designed to inspire global travellers.</p>
          </header>
          <ul class="clearfix">
                <li class="wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="service-box">
                     <h3>Florida</h3>
                     <figure class="image-outer"><img src="assets/images/food1.jpg" alt="sample image"></figure>
                     <p>If you can confidently point to Vanuatu on a map then you’re a better geographer than most. Drifting like flotsam in the Pacific Ocean, this little-kno...</p>
                     </div>
                </li>
                <li class="wow fadeInDown" data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="service-box">
                        <h3>Mariana Island</h3>
                        <figure class="image-outer"><img src="assets/images/food1.jpg" alt="sample image"></figure>
                        <p>Micronesia comprises four archipelagos: the Federated States of Micronesia (Caroline Islands), the Republic of the Marshall Islands, the Northern Mariana Isl...</p>
                        </div>
                </li>
                <li class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                         <div class="service-box">
                         <h3>Vanuata Beach</h3>
                         <figure class="image-outer"><img src="assets/images/food2.jpg" alt="sample image"></figure>
                         <p>Laidback, friendly and unremittingly beautiful, tiny Niue is an idyllic retreat from the modern world. The island nation’s rugged coastline, cryst... </p>
                         </div>
                </li>
            </ul>
        </div>
      </section>
</div>

