<div class ="tableTitle">Menu
</div>
<mat-card>
    <mat-table [dataSource]="menuInfo" >
        <ng-container matColumnDef="name">
            <th class="name" mat-header-cell *matHeaderCellDef>Menu Item</th>
            <td mat-cell *matCellDef="let item"> {{item.name}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th class="price" mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let item"> ${{item.price.toFixed(2)}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</mat-card>